<footer>
    <div class="footer">
        <div class="f-social-media">
            <i class="fa-brands fa-facebook icon-socials"></i>
             <i class="fa-brands fa-x-twitter icon-socials"></i>
            <i class="fa-brands fa-instagram icon-socials"></i>
        </div>
        <div class="f-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>

