<% layout("/layouts/boilerplate") %>
<body>
    <div class="container alert alert-danger" role="alert">
        <h1 class="text-center mt-2">Error</h1>
        <p class="text-center">Something went wrong. Please try again later.</p>
        <div class="text-center">
            <a href="/" class="btn btn-primary mb-2">Go to Home</a>
        </div>
    </div>

